duckdb==1.4.2
et_xmlfile==2.0.0
numpy==1.26.4
openpyxl==3.1.2
pandas==2.2.0
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tzdata==2025.2
optuna==4.6.0
optuna-dashboard==0.20.0
scikit-learn==1.7.2
scipy==1.16.3
matplotlib==3.10.0
streamlit==1.41.1
plotly==5.24.1